*.user

Widget_Client/out/
Widget_Client/.vs/
Widget_Client/privateKey.pem
Widget_Client/privateKey.pem
Widget_Client/publicKey.pem
Widget_Client/config.txt
Widget_Client/ca.crt
CMakeLists.txt.user
build-Widget_Client-Desktop*