*.user

build-Widget_Client-Desktop_Qt_6_3_0_MSVC2019_64bit-Debug/
Widget_Client/out/
Widget_Client/.vs/
Widget_Client/privateKey.pem
Widget_Client/privateKey.pem
Widget_Client/publicKey.pem
Widget_Client/config.txt
CMakeLists.txt.user